[MASTER]
init-hook="import sys; sys.path.append('/home/jener05458/SWStarlab/SRP')"
# init-hook="import sys; sys.path.append('Your_path/SRP/src')"


[REPORTS]
disable = E1101, R0902, R0912, R0913, R0914, R0915, R1703, R1705, W0201, W0212, W0221, W0237, W0613, R1716, R1724